In [1]:
import psycopg2

In [11]:
con=psycopg2.connect(host="localhost",user="postgres", password="root", port=5432,dbname="db83")

In [12]:
cur = con.cursor()

In [13]:
query="create table goldprices1(date date, cost money)"
cur.execute(query)

In [14]:
con.commit()

In [17]:
f=open("gold-prices.csv","r")
f.readline()
for row in f:
    print(row)
    break

12/31/1969,35.2,22.24,14.66,12592.44

In [18]:
s="12/31/1969"

In [21]:
from datetime import date

In [22]:
print(dir(date))

['__add__', '__class__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__le__', '__lt__', '__ne__', '__new__', '__radd__', '__reduce__', '__reduce_ex__', '__repr__', '__rsub__', '__setattr__', '__sizeof__', '__str__', '__sub__', '__subclasshook__', 'ctime', 'day', 'fromisocalendar', 'fromisoformat', 'fromordinal', 'fromtimestamp', 'isocalendar', 'isoformat', 'isoweekday', 'max', 'min', 'month', 'replace', 'resolution', 'strftime', 'timetuple', 'today', 'toordinal', 'weekday', 'year']

In [23]:
date.strftime?

In [25]:
s="12/31/1969"
date.strftime(s,"Y-M-D")

TypeError: descriptor 'strftime' for 'datetime.date' objects doesn't apply to a 'str' object

In [26]:
date(s)

TypeError: an integer is required (got type str)

In [27]:
from datetime import datetime

In [32]:
d=datetime.strptime(s,"%d/%M/%Y")

In [33]:
d

datetime.datetime(1969, 1, 12, 0, 31)

In [34]:
"%s"%d

'1969-01-12 00:31:00'

In [ ]:
from datetime import datetime
f=open("gold-prices.csv","r")
f.readline()
for row in f:
    date_str,money,*k=
    break

In [36]:
s="12/31/1969,35.2,22.24,14.66,12592.44"
s.split(",")

['12/31/1969', '35.2', '22.24', '14.66', '12592.44']

In [37]:
s="12/31/1969,35.2,22.24,14.66,12592.44"
s_l=s.split(",")
date_str=s_l[0]
money=s_l[1]

In [38]:
print(date_str)

12/31/1969

In [39]:
print(money)

35.2

In [ ]:
s="12/31/1969,35.2,22.24,14.66,12592.44"
date_str=s.split(",")

In [40]:
l=[10,20,30]
a,b,c=l
print(a)
print(b)
print(c)

10
20
30

In [43]:
l=[10,20,30,40,50,60,70,]
a,b,*_=l
print(a)
print(b)
print(_)

10
20
[30, 40, 50, 60, 70]

In [44]:
from datetime import datetime
f=open("gold-prices.csv","r")
f.readline()
for row in f:
    date_str,money,*_=row.split(",")
    print(date_str)
    print(money)
    break

12/31/1969
35.2

In [51]:
from datetime import datetime
f=open("gold-prices.csv","r")
f.readline()
for row in f:
    date_str,money,*_=row.split(",")
    print(date_str)
    date_date = datetime.strptime(date_str,"%m/%d/%Y").date()
    print(date_date)
    break

12/31/1969
1969-12-31

In [52]:
from datetime import datetime
f=open("gold-prices.csv","r")
f.readline()
for row in f:
    date_str,money,*_=row.split(",")
    print(date_str)
    date_date = datetime.strptime(date_str,"%m/%d/%Y").date()
    query="insert into goldprices1(date,cost) values('%s',%s)"%(date_date,money)
    print(query)
    break

12/31/1969
insert into goldprices1(date,cost) values('1969-12-31',35.2)

In [ ]:
from datetime import datetime
f=open("gold-prices.csv","r")
f.readline()
for row in f:
    date_str,money,*_=row.split(",")
    print(date_str)
    date_date = datetime.strptime(date_str,"%m/%d/%Y").date()
    query="insert into goldprices1(date,cost) values('%s',%s)"%(date_date,money)
    print(query)
    break

In [53]:
con.close()

In [55]:
import psycopg2
from datetime import datetime

con=psycopg2.connect(host="localhost",user="postgres", password="root", port=5432,dbname="db83")
cur=con.cursor()
f=open("gold-prices.csv","r")
f.readline()
for row in f:
    date_str,money,*_=row.split(",")
    print(date_str)
    date_date = datetime.strptime(date_str,"%m/%d/%Y").date()
    query="insert into goldprices1(date,cost) values('%s',%s)"%(date_date,money)
    cur.execute(query)
    con.commit()
con.close()

12/31/1969
1/30/1970
2/27/1970
3/31/1970
4/30/1970
5/29/1970
6/30/1970
7/31/1970
8/31/1970
9/30/1970
10/30/1970
11/30/1970
12/31/1970
1/29/1971
2/26/1971
3/31/1971
4/30/1971
5/31/1971
6/30/1971
7/30/1971
8/31/1971
9/30/1971
10/29/1971
11/30/1971
12/31/1971
1/31/1972
2/29/1972
3/31/1972
4/28/1972
5/31/1972
6/30/1972
7/31/1972
8/31/1972
9/29/1972
10/31/1972
11/30/1972
12/29/1972
1/31/1973
2/28/1973
3/30/1973
4/30/1973
5/31/1973
6/29/1973
7/31/1973
8/31/1973
9/28/1973
10/31/1973
11/30/1973
12/31/1973
1/31/1974
2/28/1974
3/29/1974
4/30/1974
5/31/1974
6/28/1974
7/31/1974
8/30/1974
9/30/1974
10/31/1974
11/29/1974
12/31/1974
1/31/1975
2/28/1975
3/31/1975
4/30/1975
5/30/1975
6/30/1975
7/31/1975
8/29/1975
9/30/1975
10/31/1975
11/28/1975
12/31/1975
1/30/1976
2/27/1976
3/31/1976
4/30/1976
5/31/1976
6/30/1976
7/30/1976
8/31/1976
9/30/1976
10/29/1976
11/30/1976
12/31/1976
1/31/1977
2/28/1977
3/31/1977
4/29/1977
5/31/1977
6/30/1977
7/29/1977
8/31/1977
9/30/1977
10/31/1977
11/30/1977
12/30/1977
1/31/1978
2/28/1978
3/31/1978
4/28/1978
5/31/1978
6/30/1978
7/31/1978
8/31/1978
9/29/1978
10/31/1978
11/30/1978
12/29/1978
1/31/1979
2/28/1979
3/30/1979
4/30/1979
5/31/1979
6/29/1979
7/31/1979
8/31/1979
9/28/1979
10/31/1979
11/30/1979
12/31/1979
1/31/1980
2/29/1980
3/31/1980
4/30/1980
5/30/1980
6/30/1980
7/31/1980
8/29/1980
9/30/1980
10/31/1980
11/28/1980
12/31/1980
1/30/1981
2/27/1981
3/31/1981
4/30/1981
5/29/1981
6/30/1981
7/31/1981
8/31/1981
9/30/1981
10/30/1981
11/30/1981
12/31/1981
1/29/1982
2/26/1982
3/31/1982
4/30/1982
5/31/1982
6/30/1982
7/30/1982
8/31/1982
9/30/1982
10/29/1982
11/30/1982
12/31/1982
1/31/1983
2/28/1983
3/31/1983
4/29/1983
5/31/1983
6/30/1983
7/29/1983
8/31/1983
9/30/1983
10/31/1983
11/30/1983
12/30/1983
1/31/1984
2/29/1984
3/30/1984
4/30/1984
5/31/1984
6/29/1984
7/31/1984
8/31/1984
9/28/1984
10/31/1984
11/30/1984
12/31/1984
1/31/1985
2/28/1985
3/29/1985
4/30/1985
5/31/1985
6/28/1985
7/31/1985
8/30/1985
9/30/1985
10/31/1985
11/29/1985
12/31/1985
1/31/1986
2/28/1986
3/31/1986
4/30/1986
5/30/1986
6/30/1986
7/31/1986
8/29/1986
9/30/1986
10/31/1986
11/28/1986
12/31/1986
1/30/1987
2/27/1987
3/31/1987
4/30/1987
5/29/1987
6/30/1987
7/31/1987
8/31/1987
9/30/1987
10/30/1987
11/30/1987
12/31/1987
1/29/1988
2/29/1988
3/31/1988
4/29/1988
5/31/1988
6/30/1988
7/29/1988
8/31/1988
9/30/1988
10/31/1988
11/30/1988
12/30/1988
1/31/1989
2/28/1989
3/31/1989
4/28/1989
5/31/1989
6/30/1989
7/31/1989
8/31/1989
9/29/1989
10/31/1989
11/30/1989
12/29/1989
1/31/1990
2/28/1990
3/30/1990
4/30/1990
5/31/1990
6/29/1990
7/31/1990
8/31/1990
9/28/1990
10/31/1990
11/30/1990
12/31/1990
1/31/1991
2/28/1991
3/29/1991
4/30/1991
5/31/1991
6/28/1991
7/31/1991
8/30/1991
9/30/1991
10/31/1991
11/29/1991
12/31/1991
1/31/1992
2/28/1992
3/31/1992
4/30/1992
5/29/1992
6/30/1992
7/31/1992
8/31/1992
9/30/1992
10/30/1992
11/30/1992
12/31/1992
1/29/1993
2/26/1993
3/31/1993
4/30/1993
5/31/1993
6/30/1993
7/30/1993
8/31/1993
9/30/1993
10/29/1993
11/30/1993
12/31/1993
1/31/1994
2/28/1994
3/31/1994
4/29/1994
5/31/1994
6/30/1994
7/29/1994
8/31/1994
9/30/1994
10/31/1994
11/30/1994
12/30/1994
1/31/1995
2/28/1995
3/31/1995
4/28/1995
5/31/1995
6/30/1995
7/31/1995
8/31/1995
9/29/1995
10/31/1995
11/30/1995
12/29/1995
1/31/1996
2/29/1996
3/29/1996
4/30/1996
5/31/1996
6/28/1996
7/31/1996
8/30/1996
9/30/1996
10/31/1996
11/29/1996
12/31/1996
1/31/1997
2/28/1997
3/31/1997
4/30/1997
5/30/1997
6/30/1997
7/31/1997
8/29/1997
9/30/1997
10/31/1997
11/28/1997
12/31/1997
1/30/1998
2/27/1998
3/31/1998
4/30/1998
5/29/1998
6/30/1998
7/31/1998
8/31/1998
9/30/1998
10/30/1998
11/30/1998
12/31/1998
1/29/1999
2/26/1999
3/31/1999
4/30/1999
5/31/1999
6/30/1999
7/30/1999
8/31/1999
9/30/1999
10/29/1999
11/30/1999
12/31/1999
1/31/2000
2/29/2000
3/31/2000
4/28/2000
5/31/2000
6/30/2000
7/31/2000
8/31/2000
9/29/2000
10/31/2000
11/30/2000
12/29/2000
1/31/2001
2/28/2001
3/30/2001
4/30/2001
5/31/2001
6/29/2001
7/31/2001
8/31/2001
9/28/2001
10/31/2001
11/30/2001
12/31/2001
1/31/2002
2/28/2002
3/29/2002
4/30/2002
5/31/2002
6/28/2002
7/31/2002
8/30/2002
9/30/2002
10/31/2002
11/29/2002
12/31/2002
1/31/2003
2/28/2003
3/31/2003
4/30/2003
5/30/2003
6/30/2003
7/31/2003
8/29/2003
9/30/2003
10/31/2003
11/28/2003
12/31/2003
1/30/2004
2/27/2004
3/31/2004
4/30/2004
5/31/2004
6/30/2004
7/30/2004
8/31/2004
9/30/2004
10/29/2004
11/30/2004
12/31/2004
1/31/2005
2/28/2005
3/31/2005
4/29/2005
5/31/2005
6/30/2005
7/29/2005
8/31/2005
9/30/2005
10/31/2005
11/30/2005
12/30/2005
1/31/2006
2/28/2006
3/31/2006
4/28/2006
5/31/2006
6/30/2006
7/31/2006
8/31/2006
9/29/2006
10/31/2006
11/30/2006
12/29/2006
1/31/2007
2/28/2007
3/30/2007
4/30/2007
5/31/2007
6/29/2007
7/31/2007
8/31/2007
9/28/2007
10/31/2007
11/30/2007
12/31/2007
1/31/2008
2/29/2008
3/31/2008
4/30/2008
5/30/2008
6/30/2008
7/31/2008
8/29/2008
9/30/2008
10/31/2008
11/28/2008
12/31/2008
1/30/2009
2/27/2009
3/31/2009
4/30/2009
5/29/2009
6/30/2009
7/31/2009
8/31/2009
9/30/2009
10/30/2009
11/30/2009
12/31/2009
1/29/2010
2/26/2010
3/31/2010
4/30/2010
5/31/2010
6/30/2010
7/30/2010
8/31/2010
9/30/2010
10/29/2010
11/30/2010
12/31/2010
1/31/2011
2/28/2011
3/31/2011
4/29/2011
5/31/2011
6/30/2011
7/29/2011
8/31/2011
9/30/2011
10/31/2011
11/30/2011
12/30/2011
1/31/2012
2/29/2012
3/30/2012
4/30/2012
5/31/2012
6/29/2012
7/31/2012
8/31/2012
9/28/2012
10/31/2012
11/30/2012
12/31/2012
1/31/2013
2/28/2013
3/29/2013
4/30/2013
5/31/2013
6/28/2013
7/31/2013
8/30/2013
9/30/2013
10/31/2013
11/29/2013
12/31/2013
1/31/2014
2/28/2014
3/31/2014
4/30/2014
5/30/2014
6/30/2014
7/31/2014
8/29/2014
9/30/2014
10/31/2014
11/28/2014
12/31/2014
1/30/2015
2/27/2015
3/31/2015
4/30/2015
5/29/2015
6/30/2015
7/31/2015
8/31/2015
9/30/2015
10/30/2015
11/30/2015
12/31/2015
1/29/2016
2/29/2016
3/31/2016
4/29/2016
5/31/2016
6/30/2016
7/29/2016
8/31/2016
9/30/2016
10/31/2016
11/30/2016
12/30/2016
1/31/2017
2/28/2017
3/31/2017
4/28/2017
5/31/2017
6/30/2017
7/31/2017
8/31/2017
9/29/2017
10/31/2017
11/30/2017
12/29/2017
1/31/2018
2/28/2018
3/30/2018
4/30/2018
5/31/2018
6/29/2018
7/31/2018
8/31/2018
9/28/2018
10/31/2018
11/30/2018
12/31/2018
1/31/2019
2/28/2019
3/29/2019
4/30/2019
5/31/2019
6/28/2019
7/31/2019
8/30/2019
9/30/2019
10/31/2019
11/29/2019
12/31/2019
1/31/2020
2/28/2020
3/31/2020
4/30/2020
5/29/2020
6/30/2020
7/31/2020
8/31/2020
9/30/2020
10/30/2020
11/30/2020
12/31/2020
1/29/2021
2/26/2021
3/31/2021
4/30/2021
5/31/2021
6/30/2021
7/30/2021
8/31/2021
9/30/2021
10/29/2021
11/30/2021
12/31/2021
1/31/2022
2/28/2022

In [58]:
con=psycopg2.connect(host="localhost",user="postgres", password="root", port=5432,dbname="db83")
cur=con.cursor()
query="update goldprices1 set cost=1764 where date='2021-06-30'"
cur.execute(query)
con.commit()

In [59]:
query = "select * from goldprices1 where date='2021-06-30'"
cur.execute(query)
print(cur.fetchall())

[(datetime.date(2021, 6, 30), '$1,764.00')]

In [60]:
query = "select max(cost) from goldprices1"
cur.execute(query)
print(cur.fetchall())

[('$1,964.90',)]

In [61]:
query = "select * from goldprices1 where cost=(select max(cost) from goldprices1)"
cur.execute(query)
print(cur.fetchall())

[(datetime.date(2020, 7, 31), '$1,964.90')]

In [62]:
query = "select * from goldprices1 where cost=(select min(cost) from goldprices1)"
cur.execute(query)
print(cur.fetchall())

[(datetime.date(1970, 1, 30), '$34.99')]

In [ ]:
d=[{"date":"2020-07-28","cost":1966},{"date":"2020-07-28","cost":1966},]