In [1]:
print("hello")

hello

In [2]:
print("hyderbad")
print("chennai")
print("banglore")

hyderbad
chennai
banglore

In [3]:
print("hyderbad\nchennai\nbanglore")

hyderbad
chennai
banglore

In [4]:
print("hyderbad\tchennai\tbanglore")

hyderbad	chennai	banglore

In [5]:
print("hyderbad")
print("chennai")
print("banglore")

hyderbad
chennai
banglore

In [6]:
print("hyderbad",end=" ")
print("chennai")# default end="\n"
print("banglore")

hyderbad chennai
banglore

In [7]:
print("hyderbad",end=" ")
print("chennai",end=" ")# default end="\n"
print("banglore")

hyderbad chennai banglore

In [8]:
name="jay"
age=5.23423
weight=19.283554
height=2.844654
print(name,age,weight,height)

jay 5.23423 19.283554 2.844654

In [9]:
name="jay"
age=5.23423
weight=19.283554
height=2.844654
print(name,age,weight,height,sep=";")

jay;5.23423;19.283554;2.844654

In [10]:
name="jay"
age=5.23423
weight=19.283554
height=2.844654
print(name,age,weight,height,sep="=>")

jay=>5.23423=>19.283554=>2.844654

In [11]:
name="jay"
age=5.23423
weight=19.283554
height=2.844654
print(name,age,weight,height,sep="#$%")

jay#$%5.23423#$%19.283554#$%2.844654

In [12]:
name="apple"
cost=20
# the product apple cost is 20rs
print("the product",name,"cost is",cost,"rs")

the product apple cost is 20 rs

In [13]:
name="apple"
cost=20
# the product apple cost is 20rs
print("the product",name,"cost is",cost+"rs")

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [14]:
name="apple"
cost=20
# the product apple cost is 20rs
print("the product",name,"cost is",str(cost)+"rs")

the product apple cost is 20rs

In [ ]:
a=input("enter a value12324e:")
print(a)

In [1]:
name="jayaram"
age=4
height=3.23525
weight=19.267899
# jayaram in 4 years old. he is 3.23FEET height and 19.27KG weight.
print(name,"in",age,"years old. he is")

jayaram in 4 years old. he is

In [2]:
name="jayaram"
age=4
height=3.23525
weight=19.267899
# jayaram in 4 years old. he is 3.23FEET height and 19.27KG weight.
print(name,"in",age,"years old. he is",height,"FEET height and",weight,"KG weight.")

jayaram in 4 years old. he is 3.23525 FEET height and 19.267899 KG weight.

In [3]:
name="jayaram"
age=4
height=3.23525
weight=19.267899
# jayaram in 4 years old. he is 3.23FEET height and 19.27KG weight.
print(name,"in",age,"years old. he is",str(height)+"FEET height and",str(weight)+"KG weight.")

jayaram in 4 years old. he is 3.23525FEET height and 19.267899KG weight.

In [4]:
name="jayaram"
age=4
height=3.23525
weight=19.267899
# jayaram in 4 years old. he is 3.24FEET height and 19.27KG weight.
print(name,"in",age,"years old. he is",str(round(height,2))+"FEET height and",str(round(weight,2))+"KG weight.")

jayaram in 4 years old. he is 3.24FEET height and 19.27KG weight.

In [5]:
name="jayaram"
age=4
height=3.23525
weight=19.267899
# jayaram in 4 years old. he is 3.24FEET height and 19.27KG weight.
print(name,"in",age,"years old. he is",str(round(height,2))+"FEET height and",str(round(weight,2))+"KG weight.")
print("%s in %s years old.",(name,age))#format specifiers

jayaram in 4 years old. he is 3.24FEET height and 19.27KG weight.
%s in %s years old. ('jayaram', 4)

In [6]:
name="jayaram"
age=4
height=3.23525
weight=19.267899
# jayaram in 4 years old. he is 3.24FEET height and 19.27KG weight.
print(name,"in",age,"years old. he is",str(round(height,2))+"FEET height and",str(round(weight,2))+"KG weight.")
print("%s in %s years old."%(name,age))#format specifiers

jayaram in 4 years old. he is 3.24FEET height and 19.27KG weight.
jayaram in 4 years old.

In [7]:
name="jayaram"
age=4
height=3.23525
weight=19.267899
# jayaram in 4 years old. he is 3.24FEET height and 19.27KG weight.
print(name,"in",age,"years old. he is",str(round(height,2))+"FEET height and",str(round(weight,2))+"KG weight.")
print("%s in %s years old. he is %sFEET height and %sKG weight"%(name,age, height, weight))#format specifiers

jayaram in 4 years old. he is 3.24FEET height and 19.27KG weight.
jayaram in 4 years old. he is 3.23525FEET height and 19.267899KG weight

In [9]:
name="jayaram"
age=4
height=3.23525
weight=19.267899
# jayaram in 4 years old. he is 3.24FEET height and 19.27KG weight.
print(name,"in",age,"years old. he is",str(round(height,2))+"FEET height and",str(round(weight,2))+"KG weight.")
print("%s in %s years old. he is %sFEET height and %sKG weight."%(name,age, round(height,2), round(weight,2)))#format specifiers

jayaram in 4 years old. he is 3.24FEET height and 19.27KG weight.
jayaram in 4 years old. he is 3.24FEET height and 19.27KG weight.

In [10]:
name="jayaram"
age=4
height=3.23525
weight=19.267899
# jayaram in 4 years old. he is 3.24FEET height and 19.27KG weight.
print(name,"in",age,"years old. he is",str(round(height,2))+"FEET height and",str(round(weight,2))+"KG weight.")
print("%s in %s years old. he is %sFEET height and %sKG weight."%(name,age, height, weight))#format specifiers

jayaram in 4 years old. he is 3.24FEET height and 19.27KG weight.
jayaram in 4 years old. he is 3.23525FEET height and 19.267899KG weight.

In [11]:
name="jayaram"
age=4
height=3.23525
weight=19.267899
# jayaram in 4 years old. he is 3.24FEET height and 19.27KG weight.
print(name,"in",age,"years old. he is",str(round(height,2))+"FEET height and",str(round(weight,2))+"KG weight.")
print("%s in %s years old. he is %sFEET height and %sKG weight."%(name,age, height, weight))#format specifiers
print("%s in %s years old. he is %fFEET height and %fKG weight."%(name,age, height, weight))#format specifiers

jayaram in 4 years old. he is 3.24FEET height and 19.27KG weight.
jayaram in 4 years old. he is 3.23525FEET height and 19.267899KG weight.
jayaram in 4 years old. he is 3.235250FEET height and 19.267899KG weight.

In [12]:
name="jayaram"
age=4
height=3.23525
weight=19.267899
# jayaram in 4 years old. he is 3.24FEET height and 19.27KG weight.
print(name,"in",age,"years old. he is",str(round(height,2))+"FEET height and",str(round(weight,2))+"KG weight.")
print("%s in %s years old. he is %sFEET height and %sKG weight."%(name,age, height, weight))#format specifiers
print("%s in %s years old. he is %fFEET height and %fKG weight."%(name,age, height, weight))#format specifiers
print("%s in %s years old. he is %.2fFEET height and %.2fKG weight."%(name,age, height, weight))#format specifiers

jayaram in 4 years old. he is 3.24FEET height and 19.27KG weight.
jayaram in 4 years old. he is 3.23525FEET height and 19.267899KG weight.
jayaram in 4 years old. he is 3.235250FEET height and 19.267899KG weight.
jayaram in 4 years old. he is 3.24FEET height and 19.27KG weight.

In [13]:
name="jayaram"
age=4
height=3.23525
weight=19.267899
# jayaram in 4 years old. he is 3.24FEET height and 19.27KG weight.
print(name,"in",age,"years old. he is",str(round(height,2))+"FEET height and",str(round(weight,2))+"KG weight.")
print("%s in %s years old. he is %.2fFEET height and %.2fKG weight."%(name,age, height, weight))#format specifiers

jayaram in 4 years old. he is 3.24FEET height and 19.27KG weight.
jayaram in 4 years old. he is 3.24FEET height and 19.27KG weight.

In [14]:
name="jayaram"
age=4
height=3.23525
weight=19.267899
# jayaram in 4 years old. he is 3.24FEET height and 19.27KG weight.
print(name,"in",age,"years old. he is",str(round(height,2))+"FEET height and",str(round(weight,2))+"KG weight.")
print("%s in %s years old. he is %.2fFEET height and %.2fKG weight."%(name,age, height, weight))#format specifiers
print(f"{name}")     #template strings/ fstrings

jayaram in 4 years old. he is 3.24FEET height and 19.27KG weight.
jayaram in 4 years old. he is 3.24FEET height and 19.27KG weight.
jayaram

In [15]:
name="jayaram"
age=4
height=3.23525
weight=19.267899
# jayaram is 4 years old. he is 3.24FEET height and 19.27KG weight.
print(name,"is",age,"years old. he is",str(round(height,2))+"FEET height and",str(round(weight,2))+"KG weight.")
print("%s is %s years old. he is %.2fFEET height and %.2fKG weight."%(name,age, height, weight))#format specifiers
print(f"{name} is {age} years old.")     #template strings/ fstrings

jayaram is 4 years old. he is 3.24FEET height and 19.27KG weight.
jayaram is 4 years old. he is 3.24FEET height and 19.27KG weight.
jayaram is 4 years old.

In [16]:
name="jayaram"
age=4
height=3.23525
weight=19.267899
# jayaram is 4 years old. he is 3.24FEET height and 19.27KG weight.
print(name,"is",age,"years old. he is",str(round(height,2))+"FEET height and",str(round(weight,2))+"KG weight.")
print("%s is %s years old. he is %.2fFEET height and %.2fKG weight."%(name,age, height, weight))#format specifiers
print(f"{name} is {age} years old. he is {height}FEET height and {weight}KG weight")     #template strings/ fstrings

jayaram is 4 years old. he is 3.24FEET height and 19.27KG weight.
jayaram is 4 years old. he is 3.24FEET height and 19.27KG weight.
jayaram is 4 years old. he is 3.23525FEET height and 19.267899KG weight

In [17]:
name="jayaram"
age=4
height=3.23525
weight=19.267899
# jayaram is 4 years old. he is 3.24FEET height and 19.27KG weight.
print(name,"is",age,"years old. he is",str(round(height,2))+"FEET height and",str(round(weight,2))+"KG weight.")
print("%s is %s years old. he is %.2fFEET height and %.2fKG weight."%(name,age, height, weight))#format specifiers
print(f"{name} is {age} years old. he is {round(height,2)}FEET height and {round(weight,2)}KG weight")     #template strings/ fstrings

jayaram is 4 years old. he is 3.24FEET height and 19.27KG weight.
jayaram is 4 years old. he is 3.24FEET height and 19.27KG weight.
jayaram is 4 years old. he is 3.24FEET height and 19.27KG weight

In [18]:
name="jayaram"
age=4
height=3.23525
weight=19.267899
# jayaram is 4 years old. he is 3.24FEET height and 19.27KG weight.
print(name,"is",age,"years old. he is",str(round(height,2))+"FEET height and",str(round(weight,2))+"KG weight.")
print("%s is %s years old. he is %.2fFEET height and %.2fKG weight."%(name,age, height, weight))#format specifiers
print(f"{name} is {age} years old. he is {height:f}FEET height and {weight:f}KG weight")     #template strings/ fstrings

jayaram is 4 years old. he is 3.24FEET height and 19.27KG weight.
jayaram is 4 years old. he is 3.24FEET height and 19.27KG weight.
jayaram is 4 years old. he is 3.235250FEET height and 19.267899KG weight

In [20]:
name="jayaram"
age=4
height=3.23525
weight=19.267899
# jayaram is 4 years old. he is 3.24FEET height and 19.27KG weight.
print(name,"is",age,"years old. he is",str(round(height,2))+"FEET height and",str(round(weight,2))+"KG weight.")
print("%s is %s years old. he is %.2fFEET height and %.2fKG weight."%(name,age, height, weight))#format specifiers
print(f"{name} is {age} years old. he is {height:.2f}FEET height and {weight:.2f}KG weight.")     #template strings/ fstrings

jayaram is 4 years old. he is 3.24FEET height and 19.27KG weight.
jayaram is 4 years old. he is 3.24FEET height and 19.27KG weight.
jayaram is 4 years old. he is 3.24FEET height and 19.27KG weight.

In [21]:
number=127489
print(bin(number))
print(hex(number))
print(oct(number))

0b11111001000000001
0x1f201
0o371001

In [22]:
number=127489
print("%b"%number)
print(hex(number))
print(oct(number))

ValueError: unsupported format character 'b' (0x62) at index 1

In [23]:
number=127489
#print("%b"%number)
print("%x"%number)
print("%o"%number)

1f201
371001

In [24]:
print("sdfsd\ndsfsdf\nsdfsd\tsdfsdf\nsdfsd\tsdfsdf\nsdfdsf\tfdsd")

sdfsd
dsfsdf
sdfsd	sdfsdf
sdfsd	sdfsdf
sdfdsf	fdsd

In [25]:
print("sdfsd\\ndsfsdf\\nsdfsd\\tsdfsdf\\nsdfsd\\tsdfsdf\\nsdfdsf\\tfdsd")

sdfsd\ndsfsdf\nsdfsd\tsdfsdf\nsdfsd\tsdfsdf\nsdfdsf\tfdsd

In [26]:
print("sdfsd\"\n\"dsfsdf\"\n\"sdfsd\\tsdfsdf\\nsdfsd\\tsdfsdf\\nsdfdsf\\tfdsd")

sdfsd"
"dsfsdf"
"sdfsd\tsdfsdf\nsdfsd\tsdfsdf\nsdfdsf\tfdsd

In [ ]:
print("sdfsd\\ndsfsdf\\nsdfsd\\tsdfsdf\\nsdfsd\\tsdfsdf\\nsdfdsf\\tfdsd")

In [27]:
s=r"sdfsd\ndsfsdf\nsdfsd\tsdfsdf\nsdfsd\tsdfsdf\nsdfdsf\tfdsd"#rawstrings
print(s)

sdfsd\ndsfsdf\nsdfsd\tsdfsdf\nsdfsd\tsdfsdf\nsdfdsf\tfdsd

In [28]:
a="sdfsd\ndsfsdf\nsdfsd\tsdfsdf\nsdfsd\tsdfsdf\nsdfdsf\tfdsd"
print(a)

sdfsd
dsfsdf
sdfsd	sdfsdf
sdfsd	sdfsdf
sdfdsf	fdsd

In [29]:
a=r"sdfsd\ndsfsdf\nsdfsd\tsdfsdf\nsdfsd\tsdfsdf\nsdfdsf\tfdsd"
print(a)

sdfsd\ndsfsdf\nsdfsd\tsdfsdf\nsdfsd\tsdfsdf\nsdfdsf\tfdsd

In [30]:
a="sdfsd\ndsfsdf\nsdfsd\tsdfsdf\nsdfsd\tsdfsdf\nsdfdsf\tfdsd"
print("%r"%a)

'sdfsd\ndsfsdf\nsdfsd\tsdfsdf\nsdfsd\tsdfsdf\nsdfdsf\tfdsd'

In [31]:
a="sdfsd\ndsfsdf\nsdfsd\tsdfsdf\nsdfsd\tsdfsdf\nsdfdsf\tfdsd"
print("%s"%a)

sdfsd
dsfsdf
sdfsd	sdfsdf
sdfsd	sdfsdf
sdfdsf	fdsd

In [32]:
a="sdfsd\ndsfsdf\nsdfsd\tsdfsdf\nsdfsd\tsdfsdf\nsdfdsf\tfdsd"
print(a)

sdfsd
dsfsdf
sdfsd	sdfsdf
sdfsd	sdfsdf
sdfdsf	fdsd

In [34]:
name="jayaram"
print("%s"%name)

jayaram

In [35]:
name="jayaram"
print("%s%"%name)

ValueError: incomplete format

In [36]:
name="jayaram"
print("%s%%"%name)

jayaram%

In [38]:
name="jayaram"
print(f"{name}")

jayaram

In [39]:
name="jayaram"
print(f"{name}{}")

SyntaxError: f-string: empty expression not allowed (<ipython-input-39-2f7facff5df3>, line 2)

In [40]:
name="jayaram"
print(f"{name}\{\}")

SyntaxError: f-string expression part cannot include a backslash (<ipython-input-40-13866dee7883>, line 2)

In [41]:
name="jayaram"
print(f"{name}{{}}")

jayaram{}

In [42]:
#it's good environment we have in "hyderabad"
print("it's good environment we have in \"hyderabad\"")

it's good environment we have in "hyderabad"

In [43]:
#it's good environment we have in "hyderabad"
print('it\'s good environment we have in "hyderabad"')

it's good environment we have in "hyderabad"

In [44]:
print("%s,%s,%s"%(1,2))

TypeError: not enough arguments for format string

In [45]:
print("%s,%s,%s"%(1,2,3))

1,2,3

In [47]:
print("%s,%s"%(1,2,3))

TypeError: not all arguments converted during string formatting

In [48]:
print("%d"%(12.345))

12